{{ define "company_content" }}

<!-- Main Content Section -->
<div class="container mx-auto px-4 py-12">
	<div class="bg-white p-8 rounded-lg shadow-md">
		<h1 class="text-4xl font-bold text-gray-800 mb-4">Administre seu negócio</h1>
		<p class="text-gray-600 leading-relaxed">
			Aqui você vai encontrar todas as ferramentas necessárias para gerenciar seu restaurante de forma eficiente e moderna. Nossa plataforma foi desenvolvida para simplificar a administração do seu negócio, permitindo que você se concentre no que realmente importa: oferecer uma experiência excepcional aos seus clientes.
		</p>

		<br><hr><br>
		<ul class="list-disc list-inside space-y-2 mt-4 text-gray-700">
			<li><a href="/dishes/new" class="text-blue-600 hover:text-blue-800">Adicionar pratos 🍱</a></li>
			<li><a href="/menu/view/company" class="text-blue-600 hover:text-blue-800">Visualizar e controlar o cardápio da sua empresa</a></li>
			<li><a href="/menu/view/customer/{{ .CompanyID }}" class="text-blue-600 hover:text-blue-800">Visualizar cardápio do cliente</a></li>
			<li><strong>Gerenciar cardápios:</strong> Crie, edite e organize seus menus facilmente.</li>
			<li><strong>Controlar pedidos:</strong> Acompanhe pedidos em tempo real e otimize o atendimento.&#128507;</li>
			<li><strong>Administrar reservas:</strong> Gerencie reservas de mesas de forma prática.</li>
			<li><strong>Visualizar relatórios de vendas:</strong> Acesse dados detalhados para tomar melhores decisões.</li>
			<li><strong>Adicionar colaboradores:</strong> Cadastre e gerencie sua equipe com facilidade.</li>
			<li><strong>Criar/editar pratos:</strong> Atualize informações e imagens dos pratos.</li>
			<li><strong>Imprimir cardápios:</strong> Gere versões impressas dos seus menus.</li>
			<li><strong>Visualizar pratos:</strong> Consulte rapidamente todos os pratos cadastrados.</li>
		</ul>
	</div>
</div>

{{ end }}