/* Local CSS Reset */

div.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*style="display: flex; justify-content: center; align-items: center; height: 100vh;"*/

