{{ define "company_content" }}

<!-- Main Content Section -->
<div class="container mx-auto px-4 py-12">
	<div class="bg-white p-8 rounded-lg shadow-md">
		<h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to Your Web Page</h1>
		<p class="text-gray-600 leading-relaxed">
			This is a simple landing page to demonstrate a responsive navbar built with Tailwind CSS. The navbar
			adjusts its layout for different screen sizes, providing a clear navigation experience on both
			desktop and mobile devices.
		</p>
	</div>

	<br><hr><br>
	<ul>
		<li>Criar função de logout no navbar</li>
		<li>Adicionar nome da empresa no navbar</li>
		<li>Adicionar página de empresa com informações</li>
		<li>Criar página para adicionar colaboradores</li>
		<li>Adicionar lista de colaboradores na página da empresa</li>
		<li>Criar página para visualização de pratos</li>
		<li>Cria atalho para impressão de cardápio</li>
		</li>
	</ul>
</div>

{{ end }}