<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Navbar with Tailwind CSS</title>
   <!-- Tailwind CSS CDN -->
   <script src="https://cdn.tailwindcss.com"></script>
   <!-- Google Fonts - Inter -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>

<body class="bg-gray-50">

  	{{ template "navbar" . }}

	{{ template "company_content" . }}


<script>
   const mobileMenuButton = document.getElementById('mobile-menu-button');
   const mobileMenu = document.getElementById('mobile-menu');

   mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
   });
</script>

</body>
</html>
