<!DOCTYPE html>
<html lang="pt-BR"> 

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/x-icon" href="./static/menu-icon.jpg"> 
	<!-- Tailwind CSS CDN -->
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="/static/jquery-3.7.1.min.js"></script>
	<title>{{ .Title }}</title>  
</head>

<body>
<div class="container m-3">

	{{ template "register_content" . }}
	{{ template "footer" . }}

</div>
</body>
</html>

<script>

	// Execute when the document is fully loaded
	document.addEventListener('DOMContentLoaded', function() {
		// Focus on the user_name input field
		document.getElementById('user_name').focus();
	});

	// Execute when email input loses focus
	document.getElementById('email').addEventListener('blur', function() {
		const email = document.getElementById('email').value;
		const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Simple email regex pattern
		if (!emailPattern.test(email)) {
			alert('Por favor, insira um email válido.');
			this.value = '';
			this.focus();
			return;
		}

		// Additional AJAX call to check if email is already registered can be added here
		console.log(email);
		fetch('/is-email-available', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams({ email: email })
		}).then(response => response.json())
		.then(data => {
			console.log(data);
			if (data.exists) {
				alert('Este email já está cadastrado. Por favor, use outro email.');
				document.getElementById('email').value = '';
				document.getElementById('email').focus();
			}
			else {
				// Email is available
			}
		}).catch(error => {
			console.error('Erro ao verificar o email:', error);
		});
	});

	// Execute when company_zip loses focus
	document.getElementById('company_zip').addEventListener('blur', function() {
			const zip = this.value.replace(/\D/g, ''); // Remove non-digit characters
			if (zip.length === 8) { // Check if zip has 8 digits
				fetch(`https://viacep.com.br/ws/${zip}/json/`)
					.then(response => response.json())
					.then(data => {
						if (!data.erro) {
							console.log(data);
							document.getElementById('company_state').value = data.uf || '';
							document.getElementById('company_city').value = data.localidade || '';
						} else {
							alert('CEP não encontrado.');
						}
					})
					.catch(() => {
						alert('Erro ao buscar o CEP.');
					});
			} else {
				alert('CEP inválido. Deve conter 8 dígitos.');
				this.value = '';
				document.getElementById('company_state').value = '';
				document.getElementById('company_city').value = '';
			}
	});

</script>   
