{{define "register_content"}}
<div class="min-h-screen flex items-center justify-center bg-gray-100 px-2">
  <div class="bg-white p-4 sm:p-6 md:p-8 rounded-xl shadow-lg w-full max-w-lg sm:max-w-xl md:max-w-2xl">
    <h2 class="text-xl sm:text-2xl font-bold mb-4 sm:mb-6 text-center text-blue-700">Cadastro de Usuário e Empresa</h2>
    <form method="POST" action="/register" class="space-y-6 sm:space-y-8">
      <!-- User Form -->
      <div>
        <h3 class="text-base sm:text-lg font-semibold mb-3 sm:mb-4 text-gray-800">Dados do Usuário</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4">
          <div>
            <label class="block text-gray-700 mb-1" for="name">Nome</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" type="text" id="name" name="name" minlength="3" required value="Heron">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="email">Email</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" type="email" id="email" name="email" required value="heron@example.com">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="password">Senha</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" type="password" id="password" name="password" required value="123456">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="password_confirm">Confirme a Senha</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400" type="password" id="password_confirm" name="password_confirm" required value="123456">
          </div>
        </div>
      </div>
      <!-- Company Form -->
      <div>
        <h3 class="text-base sm:text-lg font-semibold mb-3 sm:mb-4 text-gray-800">Dados da Empresa</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4">
          <div>
            <label class="block text-gray-700 mb-1" for="company_name">Nome da Empresa</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_name" name="company_name">
          </div>

          <!-- <div>
            <label class="block text-gray-700 mb-1" for="company_cnpj">CNPJ</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_cnpj" name="company_cnpj" required>
          </div> -->

          <div>
            <label class="block text-gray-700 mb-1" for="company_zip">CEP</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_zip" name="company_zip" value="12233460">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_state">Estado</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_state" name="company_state">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_city">Cidade</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_city" name="company_city">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_neighborhood">Bairro</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_neighborhood" name="company_neighborhood">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_street">Endereço</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_street" name="company_street">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_number">Número</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_number" name="company_number">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_complement">Complemento</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_complement" name="company_complement">
          </div>
          <div>
            <label class="block text-gray-700 mb-1" for="company_phone">DDD + Telefone</label>
            <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-green-400" type="text" id="company_phone" name="company_phone" value="1234567890">
          </div>
          <!-- Usuário criado com perfil manager -->
          <input type="hidden" id="privilege" name="privilege" value="manager">
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button id="register_button" type="submit" class="w-full sm:w-auto px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 font-semibold transition text-base">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
{{end}}
