<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>{{ template "head" . }}
</head>
<body>

	<div class="card m-3">
		<div class="card-header text-center h3">
			Seu melhor cardápio digital
		</div>

		<div class="card-body">
			<span class="h4">Me fale sobre você!</span>
			<hr>
			<div class="list-group">
				<div class="list-group-item">
					<p>Sou administrador</p>
					<div class="list-group list-group-flush">
						<a href="#" class="list-group-item list-group-item-action small">Criar uma conta</a>
						<a href="#" class="list-group-item list-group-item-action small">Acessar meu restaurante</a>
					</div>
				</div>

				<div class="list-group-item">
					<p>Sou cliente</p>
					<div class="list-group  list-group-flush">
						<a href="#" class="list-group-item list-group-item-action small">Ver cardápio</a>
						<a href="#" class="list-group-item list-group-item-action small">Fazer pedido</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	{{ template "footer" . }}

</div>

</body>
</html>