{{ define "box-dish" }}
<li class="py-2 px-2 border-b border-gray-200 {{ if not .Active }}line-through{{ end }} mx-1 my-1 rounded-md hover:bg-gray-50">
   <div class="flex w-full items-stretch">
      <div class="w-1/12 bg-blue-500 h-full text-white flex items-center justify-center">
         {{ if .Images }}
            {{ with index .Images 0 }}
               <img src="{{ .UniqueName }}" alt="{{ .OriginalFileName }}">
            {{ end }}
         {{ else }}
            <img src="/static/images/default-dish.png" alt="Default Dish">
         {{ end }}
      </div>
      
      <div class="w-11/12 bg-green-500 h-full text-white px-2 py-2 flex flex-col justify-between">
         <div class="flex items-center space-x-3">
            <input id="active_{{ .ID }}" type="checkbox" class="h-4 w-4 text-blue-600 rounded-md border-gray-300 focus:ring-blue-500" {{ if .Active }}checked{{ end }}>
            <label for="active_{{ .ID }}" class="text-sm text-gray-900">
               {{ if not .Active }}Prato não disponível{{ end }}
            </label>
            <div class="font-bold">
               {{ .Name }}
            </div>
         </div>
         <div class="flex items-center space-x-3 flex-wrap">
            <input id="showdescription_{{ .ID }}" type="checkbox" class="h-4 w-4 text-blue-600 rounded-md border-gray-300 focus:ring-blue-500" {{ if .ShowDescription }}checked{{ end }}>
            <label for="showdescription_{{ .ID }}" class="text-sm text-gray-900">
               {{ if not .ShowDescription }}Descrição oculta{{ end }}
            </label>
            <div class="text-gray-500">
               {{ .Description }}
            </div>
         </div>
         <div class="flex items-center space-x-3">
            <input id="showprice_{{ .ID }}" type="checkbox" class="h-4 w-4 text-blue-600 rounded-md border-gray-300 focus:ring-blue-500" {{ if .ShowPrice }}checked{{ end }}>
            <label for="showprice_{{ .ID }}" class="text-sm text-gray-900">
               {{ if not .ShowPrice }}Preço oculto{{ end }}
            </label>
            <div class="font-bold">
               R${{ printf "%.2f" .Price }}
            </div>
         </div>
         <div class="flex items-center space-x-3">
           <div class="flex items-center space-x-3 {{ if not .AvailableNow }}text-red-500{{ else }}text-green-500{{ end }}">
               {{ if .AvailableNow }}
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="blue">
                     <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-blue-900">Disponível</span>
               {{ else }}
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="red">
                     <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-9V7a1 1 0 112 0v2a1 1 0 01-2 0zm0 4a1 1 0 112 0 1 1 0 01-2 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-red">Indisponível</span>
               {{ end }}
            </div>
            <div class="text-gray-500">
               <span class="text-sm text-gray-700">Disponibilidade:</span>
               {{ if .Availability }}
                  {{ range $index, $day := .Availability }}
                     {{ if $index }}, {{ end }}{{ $day }}
                  {{ end }}
               {{ else }}
                  Qualquer horário
               {{ end }}
            </div>
            <div class="flex items-center space-x-3">
               <span class="text-sm text-gray-700">Dias da semana:</span>
               <div class="text-gray-500">
                  {{ if .WeekDays }}
                     {{ range $index, $day := .WeekDays }}
                        {{ if $index }}, {{ end }}{{ $day }}
                     {{ end }}
                  {{ end }}
               </div>
            </div>
         </div>
      </div>
   </div>
</li>
{{ end }}