<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

{{ template "header" . }}

<body class="bg-gray-100 min-h-screen">

  	{{ template "navbar" . }}
	

	<div class="w-full mx-auto py-4 px-4">   
      <div class="bg-white rounded-xl shadow-lg overflow-hidden m-4">
         <h1 class="text-4xl font-bold px-4 py-4">Controle o cardápio da sua empresa</h1>
         <ul>
            {{ range .Dishes }}
               {{ template "box-dish" . }}
            {{ else }}
               <p class="text-center text-gray-500">Nenhum prato disponível.</p>
            {{ end }}
         </ul>
      </div>
	</div>

	{{ template "footer" . }}

<script>
   const mobileMenuButton = document.getElementById('mobile-menu-button');
   const mobileMenu = document.getElementById('mobile-menu');

   mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
   });

</script>

</body>
</html>