<div>
   <div class="flex items-center justify-between">
      <div>
         <input type="radio" id="section_{{ .ID }}" name="modal_section" title="{{ .Description }}" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="{{ .ID }}">
         <label for="section_{{ .ID }}" class="text-gray-700 font-medium mr-4">{{ .Description }}</label>
      </div>
      <button type="button" data-section-id="{{ .ID }}" class="delete-section text-red-600 hover:text-red-800 focus:outline-none" title="Excluir seção">
         <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-10.293a1 1 0 00-1.414-1.414L10 8.586 7.707 6.293a1 1 0 00-1.414 1.414L8.586 10l-2.293 2.293a1 1 0 001.414 1.414L10 11.414l2.293 2.293a1 1 0 001.414-1.414L11.414 10l2.293-2.293z" clip-rule="evenodd" />
         </svg>
		</button>
   </div>
</div>
