{{ define "modal-dish-time" }}
<div id="modal_dish_time" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
				<div>
					<label for="time" class="block text-2xl font-medium mb-2">Disponibilidade</label>
					<label for="time" class="block text-gray-700 font-medium mb-2">Informe os horários em que o prato está disponível, separados por vírgula. Se este campo não for preenchido, o prato estará disponível o dia todo.</label>
					<input type="text" id="time" name="time" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ex: 11:00-14:00, 18:00-20:00">
				</div>

				<!-- Área de botões -->
				<div class="modal-buttons">
					{{ template "modal-button" "Time" }}
					<span class="modal-identifier" title="Identificador do modal">Time</span>
					<span class="modal-next" title="Identificador do modal">PickImages</span>
					<span class="modal-prev" title="Identificador do modal">Weekdays</span>
				</div>
				<!-- Área de botões -->
			</div>
		</div>
	</div>
</div>
{{ end }}