{{ define "modal-dish-description" }}
<div id="modal_dish_description" class="fixed inset-0 flex modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
				<div>
					<label for="modal-description" class="block text-gray-900 mb-2">Detalhes</label>
					<textarea id="modal-description" name="modal-description"
						class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-left"
						rows="4"
						placeholder="Digite seu texto aqui..."
						></textarea>
				</div>
				<div>
					<div class="flex items-center">
						<input type="checkbox" id="modal-showdescription" name="modal-showdescription" title="showdescription" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="true" checked>
						<label for="modal-showdescription" class="text-gray-700 font-medium ml-2">Exibir detalhes</label>
					</div>
				</div>
				<div class="mt-2 mb-1 text-gray-700 font-small">
					<p>Descreva o seu prato.</p>
					<p>Inclua informações sobre porções e tempo de preparo.</p>
				</div>

				<!-- área dos botões -->
				 <div class="modal-buttons">
					{{ template "modal-button" "Description" }}
					<span class="modal-next" hidden>Price</span>
					<span class="modal-prev" hidden>Name</span>
				</div>
				<!-- área dos botões -->
			</div>
		</div>
	</div>
</div>
{{ end }}