{{ define "modal-dish-week-days" }}
<div id="modal_dish_week_days" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
        		<h2 class="text-l font-bold mb-4">Dias da Semana</h2>
            <div class="flex items-center">
                <input type="checkbox" id="monday" name="days_of_week_served" title="Segunda-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Monday" checked>
                <label for="monday" class="text-gray-700 font-medium ml-2">Segunda-feira</label>
            </div>
				<div class="flex items-center">
					 <input type="checkbox" id="tuesday" name="days_of_week_served" title="Terça-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Tuesday" checked>
					 <label for="tuesday" class="text-gray-700 font-medium ml-2">Terça-feira</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="wednesday" name="days_of_week_served" title="Quarta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Wednesday" checked>
					 <label for="wednesday" class="text-gray-700 font-medium ml-2">Quarta-feira</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="thursday" name="days_of_week_served" title="Quinta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Thursday" checked>
					 <label for="thursday" class="text-gray-700 font-medium ml-2">Quinta-feira</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="friday" name="days_of_week_served" title="Sexta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Friday" checked>
					 <label for="friday" class="text-gray-700 font-medium ml-2">Sexta-feira</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="saturday" name="days_of_week_served" title="Sábado" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Saturday" checked>
					 <label for="saturday" class="text-gray-700 font-medium ml-2">Sábado</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="sunday" name="days_of_week_served" title="Domingo" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Sunday" checked>
					 <label for="sunday" class="text-gray-700 font-medium ml-2">Domingo</label>
				</div>
				<hr class="my-4">
				<div>
					<p class="text-gray-600">Selecione os dias da semana em que o prato estará disponível.</p>
					<p class="text-gray-600">Por exemplo, feijoada é um prato que pode ser servido às quartas e sábados.</p>
				</div>
				{{ template "modal-button" "WeekDays" }}
			</div>
		</div>
	</div>
</div>
{{ end }}