{{ define "modal-dish-weekdays" }}
<div id="modal_dish_weekdays" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
        		<h2 class="text-l font-bold mb-4">Dias da Semana</h2>
            <div class="flex items-center">
                <input type="checkbox" id="monday" name="modal-weekdays" title="Segunda" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Monday" checked>
                <label for="monday" class="text-gray-700 font-medium ml-2">Segunda</label>
            </div>
				<div class="flex items-center">
					 <input type="checkbox" id="tuesday" name="modal-weekdays" title="Terça" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Tuesday" checked>
					 <label for="tuesday" class="text-gray-700 font-medium ml-2">Terça</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="wednesday" name="modal-weekdays" title="Quarta" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Wednesday">
					 <label for="wednesday" class="text-gray-700 font-medium ml-2">Quarta</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="thursday" name="modal-weekdays" title="Quinta" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Thursday">
					 <label for="thursday" class="text-gray-700 font-medium ml-2">Quinta</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="friday" name="modal-weekdays" title="Sexta" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Friday">
					 <label for="friday" class="text-gray-700 font-medium ml-2">Sexta</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="saturday" name="modal-weekdays" title="Sábado" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Saturday" checked>
					 <label for="saturday" class="text-gray-700 font-medium ml-2">Sábado</label>
				</div>
				<div class="flex items-center">
					 <input type="checkbox" id="sunday" name="modal-weekdays" title="Domingo" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Sunday" checked>
					 <label for="sunday" class="text-gray-700 font-medium ml-2">Domingo</label>
				</div>
				<hr class="my-4">
				<div>
					<p class="text-gray-600">Selecione os dias da semana em que o prato estará disponível.</p>
					<p class="text-gray-600">Por exemplo, feijoada é um prato que pode ser servido às quartas e sábados.</p>
				</div>
				<!-- área dos botões -->
				<div class="modal-buttons">
					{{ template "modal-button" "WeekDays" }}
					<span class="modal-next" hidden>Time</span>
					<span class="modal-prev" hidden>Section</span>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}