{{ define "modal-dish-details" }}
<div id="modal_dish_details" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
   <div class="modal-content">
      <div class="container mx-auto px-4 py-12 mr-4 mt-4"> 
         <h1>Detalhes do Prato</h1>
         <div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
            <div class="flex items-center">
               <label for="preparation_time" class="block text-gray-700 font-medium mb-2">Informe o tempo médio de preparo do prato.</label>
               <input type="text" id="preparation_time" name="preparation_time" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ex: 20 minutos, 1 hora, etc...">
            </div>
            <div class="flex items-center mt-4">
               <label for="days_of_week_served" class="block text-gray-700 font-medium mb-2">Selecione os dias da semana em que o prato será servido.</label>
               <button type="button" id="open-days-of-week-modal" class="ml-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none">Selecionar Dias</button>
            </div>
         </div>            
         <!-- Área de botões -->
         {{ template "modal-button" "Details" }}
      </div>
   </div>
</div>
{{ end }}