{{ define "modal-dish-uploadimages" }}
<div id="modal_dish_uploadimages" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
				<div class="mt-2">
					<label for="upload-images" class="block text-xl font-medium mb-2">Imagens</label>
					<input type="file" id="upload-images" name="upload-image-list[]" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" multiple>
					<button id="upload-button" type="submit" class="mt-4 w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition-colors">
						Upload
					</button>
				</div>

				<div class="mt-2">
					<div class="p-2 text-gray-700 text-sm shadow-md">
						<p>Selecione imagens que serão usadas no cardápio, para este prato ou outros.</p>
					</div>
				</div>
				
				<!-- área dos botões -->
				<div class="modal-buttons">
					{{ template "modal-button" "UploadImages" }}
					<span class="modal-next" hidden>PickImages</span>
					<span class="modal-prev" hidden>Time</span>
				</div>
				<!-- área dos botões -->			
			</div>
		</div>
	</div>
</div>
{{ end }}