{{ define "modal-dish-pick-images" }}
<div id="modal_dish_pick_images" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">

            <div class="mt-2 mb-1 text-gray-700 font-medium">
               <p>Selecione imagens para este prato.</p>
            </div>

				<div>
               <form id="formPickImages">
                  <div class="grid grid-cols-3 gap-4">
                     {{ range .Images }}
                        <div class="relative">
                           <img src="{{ .UniqueName }}" alt="Image {{ .ID }}" class="w-full h-32 object-cover rounded-lg border-2 border-transparent hover:border-blue-500 cursor-pointer select-image" data-image-id="{{ .ID }}">
                           <input type="checkbox" id="image_{{ .ID }}" name="image_{{ .ID }}" title="Selecionar imagem {{ .ID }}" class="absolute top-2 right-2 h-5 w-5 text-blue-600 bg-white border-gray-300 rounded focus:ring-blue-500 select-image-checkbox" data-image-id="{{ .ID }}">
                        </div>
                     {{ else }}
                        <p class="col-span-3 text-center text-gray-500">Nenhuma imagem disponível. Por favor, faça o upload de imagens primeiro.</p>
                     {{ end }}
                  </div>
               </form>
				</div>

            <hr class="my-4">
            {{ template "modal-button" "PickImages" }}
         </div>
		</div>
	</div>
</div>
{{ end }}
