{{ define "modal-dish-images" }}
<div id="modal_dish_images" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
				<div>
               <form id="formImages">
					   <label for="images" class="block text-2xl font-medium mb-2">Imagens</label>
					   <input type="file" id="images" name="image-list[]" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" multiple>
						<button id="upload-button" type="submit" class="mt-4 w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition-colors">
							Upload
						</button>
               </form>
				</div>

            <div class="mt-2 mb-1 text-gray-700 font-small">
               <p>Selecione imagens que serão usadas no cardápio, para este prato ou outros.</p>
            </div>
            <hr class="my-4">
            {{ template "modal-button" "Images" }}
			</div>
		</div>
	</div>
</div>
{{ end }}