{{ define "modal-dish-time" }}
<div id="modal_dish_time" class="fixed inset-0 flex items-center justify-center modal-overlay opacity-0 invisible z-50">
	<div class="modal-content">
		<div class="container mx-auto px-4 py-12 mr-4 mt-4">  
			<div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
				<div class="flex w-full gap-4">
					<select class="form-select-start flex-1" aria-label="Default select example">
						<option selected>Das</option>
						{{ range .TimeList }}
						<option value="{{ . }}">{{ . }}</option>
						{{ end }}
					</select>
					<select class="form-select-end flex-1" aria-label="Default select example">
						<option selected>Até</option>
						{{ range .TimeList }}
						<option value="{{ . }}">{{ . }}</option>
						{{ end }}
					</select>
				</div>
				<div class="mt-4 mb-2 text-gray-700 font-small">
					<button type="button" id="add-times" class="text-blue-500 hover:underline">Adicionar horários</button>
				</div>
				<hr class="my-6">
				<div>
					<label for="modal-time" class="block text-gray-700 font-medium mb-2">Horários Selecionados:</label>
					<p id="modal-selected-times" class="text-gray-600"></p>
				</div>
				<div class="mt-4 mb-2 text-gray-700 font-small">
					<button type="button" id="clear-times" class="text-blue-500 hover:underline">Limpar Seleção</button>
				</div>

				<!-- Área de botões -->
				 <hr>
				<div class="modal-buttons">
					{{ template "modal-button" "Time" }}
					<span class="modal-next" hidden>UploadImages</span>
					<span class="modal-prev" hidden>Weekdays</span>
				</div>
				<!-- Área de botões -->
			</div>
		</div>
	</div>
</div>
{{ end }}