{{ define "new_dish_content" }}

<!-- Main Content Section -->
<div class="container mx-auto px-4 py-12">  
   <div class="bg-white p-8 rounded-lg shadow-md max-w-lg mx-auto">
      <h1 class="text-2xl font-bold text-gray-800 mb-6">Criar um Prato</h1>
      <form action="/dishes/new" method="POST" class="space-y-6">
         <div>
            <label for="name" class="block text-gray-700 font-medium mb-2">Nome do Prato</label>
            <input type="text" id="name" name="name" required class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="Ex: Spaghetti Carbonara">
         </div>
         <div>
            <label for="active" class="block text-gray-700 font-medium mb-2">Ativo</label>
            <label for="active" class="block text-gray-700 font-small mb-2">Este campo indica se o prato está ativo, ou seja, se vai aparecer no cardápio. Isto pode ser facilmente alterado depois</label>
            <input type="checkbox" id="active" name="active" title="Ativo" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="true" checked>
         </div>
         <div>
            <label for="description">Descrição</label>
            <br>
            <textarea id="description" name="description" rows="4" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Descreva o prato aqui, ingredientes, se é vegano, acompanhamentos, etc....."></textarea>
         </div>
         <div>
            <label for="price" class="block text-gray-700 font-medium mb-2">Preço (R$)</label>
            <input type="number" step="0.01" id="price" name="price" required class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="0.00" min="0.00">
         </div>
         <div>
            <label for="show_price" class="block text-gray-700 font-medium mb-2">Mostrar Preço</label>
            <label for="show_price" class="block text-gray-700 font-small mb-2">Este campo indica se o preço do prato será mostrado no cardápio. Isto pode ser facilmente alterado depois</label>
            <input type="checkbox" id="show_price" name="show_price" title="Mostrar Preço" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="true" checked>
         </div>
         <div>
            <label for="time" class="block text-gray-700 font-medium mb-2">Horários</label>
            <label for="time" class="block text-gray-700 font-small mb-2">Informe os horários em que o prato está disponível, separados por vírgula. Se este campo não for preenchido, o prato estará disponível o dia todo.</label>
            <input type="text" id="time" name="time" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ex: 11:00-14:00, 18:00-20:00">
         </div>
         <div>
            <label for="days_of_week_served" class="block text-gray-700 font-medium mb-2">Dias da Semana</label>
            <input type="checkbox" id="monday" name="days_of_week_served" title="Segunda-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Monday" checked>
            <label for="monday" class="text-gray-700 font-medium mr-4">Segunda-feira</label><br>
            <input type="checkbox" id="tuesday" name="days_of_week_served" title="Terça-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Tuesday" checked>
            <label for="tuesday" class="text-gray-700 font-medium mr-4">Terça-feira</label><br>
            <input type="checkbox" id="wednesday" name="days_of_week_served" title="Quarta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Wednesday" checked>
            <label for="wednesday" class="text-gray-700 font-medium mr-4">Quarta-feira</label><br>
            <input type="checkbox" id="thursday" name="days_of_week_served" title="Quinta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Thursday" checked>
            <label for="thursday" class="text-gray-700 font-medium mr-4">Quinta-feira</label><br>
            <input type="checkbox" id="friday" name="days_of_week_served" title="Sexta-feira" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Friday" checked>
            <label for="friday" class="text-gray-700 font-medium mr-4">Sexta-feira</label><br>
            <input type="checkbox" id="saturday" name="days_of_week_served" title="Sábado" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Saturday" checked>
            <label for="saturday" class="text-gray-700 font-medium mr-4">Sábado</label><br>
            <input type="checkbox" id="sunday" name="days_of_week_served" title="Domingo" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="Sunday" checked>
            <label for="sunday" class="text-gray-700 font-medium mr-4">Domingo</label>
         </div>
         <div>
            <label for="new_section" class="block text-gray-700 font-medium mb-2">Setor do cardápio que o prato será exibido</label>
            <input type="text" id="new_section" name="new_section" class="font-small w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ex: Pratos Principais, Sobremesas, Bebidas, etc...">
            {{ range .Sections }}
            <input type="checkbox" id="section_{{ .ID }}" name="section_id" title="{{ .Description }}" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" value="{{ .ID }}">
            <label for="section_{{ .ID }}" class="text-gray-700 font-medium mr-4">{{ .Description }}</label><br>
            {{ end }}
         </div>
         <div>
            <label for="image" class="block text-gray-700 font-medium mb-2">Imagem do Prato</label>
            <input type="file" id="image" name="image" accept="image/*" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
         </div>
         <div class="flex justify-end">
            <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded-lg font-semibold transition duration-300 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
               Adicionar Prato
            </button>
         </div>
      </form>
   </div>
</div>

{{ end }}