<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

{{ template "header" . }}

<body class="bg-gray-50">

  	{{ template "navbar" . }}

	<!-- Lista com modais -->
	{{ template "modal-dish-name" . }}
	{{ template "modal-dish-description" . }}
	{{ template "modal-dish-price" . }}
	{{ template "modal-dish-section" . }}
	{{ template "modal-dish-weekdays" . }}
	{{ template "modal-dish-time" . }}
	{{ template "modal-dish-pickimages" . }}
	{{ template "modal-dish-images" . }}
	<!-- Fim da lista com modais -->

	<!-- Usuário e empresa -->
	<input type="text" id="user_id" value="{{ .UserId }}" readonly hidden>
	<input type="text" id="company_id" value="{{ .CompanyId }}" readonly hidden>
	<!-- Fim usuário e empresa -->

	<!-- Resumo do prato -->
	<span>Nome do prato:</span>
	<span id="summary-modal-name"></span>

	{{ template "footer" . }}
</html>
</body>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		console.log('Opening modal');
		openModal('modal_dish_name');
	});

	// Executar quando upload-button for pressionado
	document.getElementById('upload-button').addEventListener('click', function() {
		console.log('Closing modal images');
		saveImages();
	});

	// Executar quando a classe closeModal for pressionado
	document.querySelectorAll('.closeModal').forEach(button => {
		button.addEventListener('click', function(event) {
			const clickedButton = this;
			const parentContainer = clickedButton.closest('.modal-buttons');
			const modalId = parentContainer.querySelector('.modal-identifier').textContent;
			console.log('Closing modal from', modalId);
			closeModal('modal_dish_' + modalId.toLowerCase());
		});
	});

	// Executar quando a classe nextModal for pressionado
	document.querySelectorAll('.nextModal').forEach(function(button) {
		button.addEventListener('click', function() {
			const modalId = this.closest('.modal-buttons').querySelector('span.modal-identifier').textContent;
			console.log('Next modal from', modalId);
			const nextModalElement = this.closest('.modal-buttons').querySelector('span.modal-next').textContent;
			console.log('Next modal element:', nextModalElement);
			if (nextModalElement) {
				closeModal('modal_dish_' + modalId.toLowerCase());
				openModal('modal_dish_' + nextModalElement.toLowerCase());
			} else {
				console.log('No next modal found for', modalId);
			}
		});
	});

	// Executar quando a classe prevModal for pressionado
	document.querySelectorAll('.prevModal').forEach(function(button) {
		button.addEventListener('click', function() {
			const modalId = this.closest('.modal-buttons').querySelector('.modal-identifier').textContent;
			const prevModalId = this.closest('.modal-buttons').querySelector('.modal-prev').textContent;
			if (prevModalId) {
				closeModal('modal_dish_' + modalId.toLowerCase());
				openModal('modal_dish_' + prevModalId.toLowerCase());
			} else {
				console.log('No previous modal found for', modalId);
			}
		});
	});

	// Function to save images (placeholder)
	function saveImages() {
		console.log('Saving images...');
		// Aqui você pode adicionar a lógica para salvar as imagens
		const fileInput = document.getElementById('images');
		const files = fileInput.files;
		if (files.length == 0) {
			console.log('No images selected.');
			return;
		}
		
		// Cria um objeto FormData
		const formData = new FormData();

		// Adiciona cada arquivo ao objeto FormData
		for (let i = 0; i < files.length; i++) {
			formData.append('images[]', files[i]);
			console.log('Added file:', files[i].name);
		}

		// Envia os arquivos para o servidor usando fetch
		fetch('images/upload-images', {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(data => {
			console.log('Success:', data);
		})
		.catch(error => {
			console.error('Error:', error);
		});
	}

	// Function to load dish images (placeholder)
	async function loadDishImages() {

		console.log('Loading dish images...');
		let CompanyId = document.getElementById('company_id').value;
		console.log('CompanyId:', CompanyId);

		try {
			const response = await fetch(`/dishes/images/list/${CompanyId}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				}
			});
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			const responseData = await response.json();
			console.log('Dish images:', responseData);
			// Atualiza o conteúdo do form com o json retornado
			const formPickImages = document.getElementById('formPickImages');
			formPickImages.innerHTML = responseData.html;

		} catch (error) {
			console.log('Error fetching dish images:', error);
		}
	}

	// Close modal function
	window.closeModal = function(modalId) {
		const modal = document.getElementById(modalId);
		const modalContent = modal.querySelector('.modal-content');
		console.log('Closing modal', modalId);
		// Adiciona classes para animação de fechamento
		modalContent.classList.remove('scale-100', 'opacity-100');
		modalContent.classList.add('scale-95', 'opacity-0');
		modal.classList.remove('opacity-100');
		modal.classList.add('opacity-0');
		setTimeout(() => {
				modal.classList.add('invisible');
		}, 300);

		// Cria nome para função de callback
		const callbackFunctionName = modalId.replace('modal_dish_', 'modal_dish_') + '_closed';
		// Verifica se a função existe e a chama
		if (typeof window[callbackFunctionName] === 'function') {
			window[callbackFunctionName]();
		}
		else {
			console.log('No callback function found for', modalId);
		}
	};

	// Open modal function
	window.openModal = function(modalId) {
		const modal = document.getElementById(modalId);
		const modalContent = modal.querySelector('.modal-content');
		console.log('Opening modal', modalId);
		// Adiciona classes para animação de abertura
		modal.classList.remove('invisible', 'opacity-0');
		modal.classList.add('opacity-100');
		modalContent.classList.remove('scale-95', 'opacity-0');
		modalContent.classList.add('scale-100', 'opacity-100');
	};

	function modal_dish_name_closed(event) {
		console.log('Modal dish name closed');
		var name = document.getElementById('modal-name').value;
		var active = document.getElementById('modal-active').checked;
		document.getElementById('summary-modal-name').textContent = name + (active ? ' (Ativo)' : ' (Inativo)');
	}
	
</script>

